* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

:root {
  --primaryColor: #E6E6E6;
  --mainText: #000000;
  --about: #E12FE9;
  --experience: #00FFF5;
  --knowledge:  #FD7014;
  --projects: rgb(78,153,103)
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primaryColor);
  color: var(--mainText);
}

a {
  text-decoration: none;
  color: var(--mainText);
}

.mainContainer {
  display: flex;
}

.whiteShine {
  filter: drop-shadow(0px 0px 23px var(--mainText));
  -webkit-text-stroke: 1px var(--mainText);
}


.btn1 {
  width: fit-content;
  height: fit-content;
  padding: .5em 1em;
  background-color: var(--mainText);
  color: var(--primaryColor);
  border-radius: 5px;
  transition: all .3s;
}

.btn1:hover {
  transform: scale(1.1,1.1);
}