.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12vh;
  padding-left: 25vw;
  padding-right: 25vw;
  *flex-direction: column;
  gap: 25em;
  width: fit-content;
}


.experience .squaresContainer {
  width: 50%;
}

.experience .squaresContainer .data {
  justify-content: center;
  display: flex;
}

.experience .experienceCard {
  width: 60%;
}

.experience .experienceCard .jobTitle {
  color: #FE4A49;
}

.experience .experienceCard .time {
  margin-top: 2vh;
  color: grey;
  font-weight: bolder;
}