.squaresContainer {
  background-position: center;
  background-size: cover;
  background-image: url('../../public/assets/squares.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

